<mat-toolbar color="primary" class="sticky" >
    <!---  <button
		mat-raised-button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> --->
	  <button mat-raised-button color="accent" class="normal-text" (click)="drawer.toggle()">
	  Document Info
    </button>
    <button mat-raised-button color="accent" class="short-text" (click)="drawer.toggle()">
    Doc
    </button>
	  <button mat-button class="nav-item nav-link-edit"  [routerLink]="['']">Home</button >
	  <div *ngIf="auth.user$ | async; then authenticatedC else guestC">
        <!-- template will replace this div -->
	  </div>
	  <ng-template #guestC>
	  <button mat-button class="normal-text" [matMenuTriggerFor]="menu"  >Notes</button>
	  <mat-menu #menu="matMenu"  >   
    <button mat-menu-item  [routerLink]="['note-list', { courseFilter: 'All'}]">All courses</button>
	  <button mat-menu-item>CPS630</button>
    <button mat-menu-item>Add Course</button>
      </mat-menu>
	  </ng-template>
	  

	  
	  <ng-template #authenticatedC >
	  <div *ngIf="auth.user$ | async as user" >
	  <button mat-button class="normal-text" [matMenuTriggerFor]="menu" >Notes</button>
	  <mat-menu #menu="matMenu"   > 
    <button mat-menu-item  (click)="setFields(user)" [routerLink]="['note-list', { courseFilter: 'All'}]">All courses</button>
    <button mat-menu-item  (click)="setFields(user)" *ngFor="let listofCourses of user.courses" 
    [routerLink]="['note-list', { courseFilter: listofCourses}]"> {{listofCourses}}</button>
	  <button mat-menu-item (click)="setFields(user)" [routerLink]="['account']">Add Course</button>
      </mat-menu>
	  </div>
	  </ng-template>
	  
	  <!---
	  <form class="search-form">
		 <mat-form-field class="search">
			<input matInput [(ngModel)]='noteSearch' 
			(ngModelChange)="sendSearch($event)"
			placeholder="Search" name='noteSearch'>
		 </mat-form-field> 
      </form> --->
	  
   <!--- <button mat-button class="nav-item nav-link-edit" [routerLink]="['editing']">Note Taking</button > --->
    <div *ngIf="auth.user$ | async; then authenticatedD else guestD"></div>
      <ng-template #authenticatedD>
          <div *ngIf="auth.user$ | async as user" >
        <div class="normal-text">
      <button *ngIf="auth.user$ | async as user" mat-button class="nav-item nav-link-edit" (click)="setFields(user)"  [routerLink]="['notes']">New Note</button>
      <button *ngIf="auth.user$ | async as user" mat-button class="nav-item nav-link-edit" (click)="setFields(user)" [routerLink]="['crash-course']">Crash Course</button>
        </div>
        <div class="short-text">
            <button mat-button [matMenuTriggerFor]="menuFt"  >Others</button>
            <mat-menu #menuFt="matMenu"  >   
            <button mat-menu-item [matMenuTriggerFor]="menu" >Notes</button>
            <button mat-menu-item (click)="setFields(user)" *ngIf="auth.user$ | async as user"  [routerLink]="['notes']">New Note</button>
            <button mat-menu-item (click)="setFields(user)" *ngIf="auth.user$ | async as user" [routerLink]="['crash-course']">Crash Course</button>
          </mat-menu>
          <mat-menu #menu="matMenu">           
            <button mat-menu-item  (click)="setFields(user)" [routerLink]="['note-list', { courseFilter: 'All'}]">All courses</button>
            <button mat-menu-item  (click)="setFields(user)" *ngFor="let listofCourses of user.courses" 
              [routerLink]="['note-list', { courseFilter: listofCourses}]"> {{listofCourses}}</button>
            <button mat-menu-item (click)="setFields(user)" [routerLink]="['account']">Add Course</button>
                </mat-menu>
          </div>
          </div>
    </ng-template>

    <ng-template #guestD>
            <div class="normal-text">
              <button mat-button class="nav-item nav-link-edit" [routerLink]="['notes']">New Note</button>
              <button mat-button class="nav-item nav-link-edit" [routerLink]="['crash-course']">Crash Course</button>   
        </div>
            <div class="short-text">
                <button mat-button [matMenuTriggerFor]="menuFtT"  >Others</button>
                <mat-menu #menuFtT="matMenu"  >   
                    <button mat-menu-item [matMenuTriggerFor]="menu" >Notes</button>
                    <button mat-menu-item   [routerLink]="['notes']">New Note</button>
                    <button mat-menu-item   [routerLink]="['crash-course']">Crash Course</button>
                  </mat-menu>

              <mat-menu #menu="matMenu"  >   
                  <button mat-menu-item  [routerLink]="['note-list', { courseFilter: 'All'}]">All courses</button>
                  <button mat-menu-item>CPS630</button>
                  <button mat-menu-item>Add Course</button>
              </mat-menu>
            </div>
      </ng-template>
  
		<span class="fill-space"></span>
		
	  <div *ngIf="auth.user$ | async; then authenticated else guest">
        <!-- template will replace this div -->
	  </div>
	  <ng-template #guest>
	  <button mat-button [matMenuTriggerFor]="menuD" >Account</button>
	  <mat-menu #menuD="matMenu">
	  <button mat-menu-item (click)="auth.googleSignin()">Sign In</button>
      </mat-menu>
	  </ng-template>
	  
	  <ng-template #authenticated>
	  <button mat-button [matMenuTriggerFor]="menuD" class="short-text" *ngIf="auth.user$ | async as user" >Hello
    </button>
    <button mat-button [matMenuTriggerFor]="menuD" class="normal-text" *ngIf="auth.user$ | async as user" >Hello, {{ user.displayName }}
      </button>
	  <mat-menu #menuD="matMenu">
	  <button mat-menu-item [routerLink]="['account']"   *ngIf="auth.user$ | async as user" (click)="setFields(user)">Details</button>
	  <button mat-menu-item (click)="auth.signOut()">Sign Out</button>
      </mat-menu>
	  </ng-template>
	  
    </mat-toolbar>


    <div *ngIf="notes.note$ | async as blotes" ></div>
	
<mat-sidenav-container  class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" >
    <mat-toolbar color="primary" >Document Info</mat-toolbar>
    <mat-nav-list>
        <div *ngIf="auth.user$ | async as user" >
      <div *ngIf="notes.note$ | async as blotes" >
	  <h2>Note Info</h2>
      <h5>Title: {{blotes.name}} </h5>
      <h5>Tags: <br> <span *ngFor="let listofTags of blotes.tags"> {{listofTags}} </span></h5>
      <h5>Note Rating: {{blotes.upvotes}}</h5>
      <button class="btn btn-primary" (click)="upVote(user, blotes)" >Up</button>
      <button  class="btn btn-danger" (click)="downVote(user, blotes)" >Down</button>
	  <h5>Course: {{blotes.course}}</h5>
    <h5>Lecture: {{blotes.lecture}}</h5>
    <div  *ngIf="user.uid == blotes.ownedByID ">
        <h3>Owner Privileges: </h3>
        <p>Can Edit: <li *ngFor="let listofEdit of blotes.canEdit"> {{listofEdit}} </li> </p>
		    <div>
        <mat-form-field class="displayName">
		  	<input matInput [(ngModel)]='editName' 
		   	placeholder="Enter Email" name='Email' (keyup.enter)="addUser(blotes, user)">
        </mat-form-field>
        <button class="btn btn-primary" (click)="addUser(blotes, user)">Add User</button>
        <button  class="btn btn-danger" (click)="removeUser(blotes, user)">Remove User</button>
        </div>
        <div>    
        <mat-form-field class="displayName">
            <input matInput [(ngModel)]='tags' 
             placeholder="Enter Tag" name='EditTag' (keyup.enter)="addTag(blotes)">
            </mat-form-field>
            <button class="btn btn-primary" (click)="addTag(blotes)">Add Tag</button>
            <button class="btn btn-danger" (click)="removeTag(blotes)">Remove Tag</button>
            </div>

  </div>
  <div  *ngFor="let listofEdit of blotes.canEdit">
      <div *ngIf="listofEdit == user.email">
        Has Edit Privileges
    </div>
 </div>
  </div>
</div>
      <br><br>
      <div *ngIf="notes.note$ | async as blotes" >
      <button mat-raised-button color="accent" [routerLink]="['../text-editor', {docID: blotes.id}]">
          Back To Note
      </button></div>
	  <button mat-raised-button color="accent" (click)="drawer.toggle()">
	  Close
    </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
    <!-- Add Content Here -->
	
  </mat-sidenav-content>
</mat-sidenav-container>
<!---
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="sticky">
      <button 
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon"></mat-icon>
      </button>
      <span></span>
    </mat-toolbar>

  </mat-sidenav-content>
</mat-sidenav-container>
--->
