
<div *ngIf="notes.note$ | async as blotes">
  <div *ngIf="auth.user$ | async as user">
    <div *ngFor="let listofEdit of blotes.canEdit">
      <div *ngIf="user.email ==listofEdit">
        <div style="display: none;">
          <ckeditor [editor]="Editor" (ready)="setFalse()"> </ckeditor>
        </div>
    <!-- template will replace this div -->
      </div>
    </div>
  </div>
</div>

<div *ngIf="notes.note$ | async as blotes">
<div style="width: 50%; margin: auto">
    <ckeditor [editor]="Editor"  [(ngModel)]='blotes.content' (ready)="onReady(blotes.content)" 
     (ngModelChange)="onKey($event,blotes)"  [disabled]="disabledBoolean"></ckeditor> 
</div>
</div>
